<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>2019中国研究生入学考试(初试)排名查询系统</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="/css/dispensing/public.css">
	<link rel="stylesheet" href="/css/dispensing/choice_school.css">
</head>
<body>
	<!-- 头部banner -->
	<header></header>
	<!-- 主体 -->
	<section>
		<div class="item">
			<div class="title">
				选择你报考的院校
			</div>
			<ul class="list">
				<li>
					<strong>所在地</strong>
					<select class="province">
						<option value='0' selected="selected">选择报考院校所在地</option>
						<option value="北京">北京</option>
						<option value="浙江">浙江</option>
						<option value="山西">山西</option>
					</select>
				</li>
				<li>
					<strong>院校</strong>
					<select class="school">
						<option value='0'>选择报考院校</option>
					</select>
				</li>
			</ul>
		</div>
		<div class="hide-box">
			<p><span>北京大学</span>已有<em>1</em>名同学填报成绩</p>
		</div>
		<div class="start-btn">
			<a href='javascript:void(0);'>开始填报成绩</a>
		</div>
	</section>
	<!-- 底部版权声明 -->
	<footer>
		<p>本服务由杭州知悟科技提供技术及内容支持</p>
		<p>©2019 koudaitiku.com 浙ICP备15000135号-1</p>
	</footer>
	<script src='/js/jquery-1.11.2.min.js'></script>
	<script src='/js/flexible.js'></script>
	<script src='/js/choice_school.js'></script>
</body>
</html>