<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>2019中国研究生入学考试(初试)排名查询系统</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="/css/dispensing/public.css">
	<link rel="stylesheet" href="/css/dispensing/index.css">
</head>
<body>
	<section>
	</section>
	<footer>
		<a href="/apps/dispensing/disschool">排名查询系统</a>
	</footer>
	<script src='/js/jquery-1.11.2.min.js'></script>
	<script src='/js/flexible.js'></script>
</body>
</html>