<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="/css/dispensing/public.css">
	<link rel="stylesheet" href="/css/dispensing/ok.css">
</head>
<body>
	<header>
		<div class="top"></div>
		<div class="btm">提交成功</div>
	</header>
	<section>
		<p>请耐心等候，专业咨询师正根据您的报考及成绩信息</p>
		<p>紧急搜索信息查询中...</p>
		<div class="danger">
			稍后将电话与您联系，请保持手机畅通
		</div>
		<div class="start-btn">
			<a>分享给朋友</a>
		</div>
		<div class="goback-btn">
			<a href="#" target="_blank">有其他问题，咨询客服</a>
		</div>
		<!-- 遮罩 -->
		<div class="media"></div>
	</section>
	<!-- 底部 -->
	<footer>
		<p>本服务由杭州知悟科技提供技术及内容支持</p>
		<p>©2019 koudaitiku.com 浙ICP备15000135号-1</p>
	</footer>
	<script src='/js/jquery-1.11.2.min.js'></script>
	<script src='/js/flexible.js'></script>
	<script src='/js/ok.js'></script>
</body>
</html>