section{width: 100%;height: 13.593rem;background:url(/images/dispensing/index.png) no-repeat;background-size: 100% 100%;}
footer{width: 100%;height: 2.5rem;background: #1c2a4d;margin-top:-0.01rem;}
footer a{display: block;width: 7.187rem;height: 1.25rem;background:#d95f5f;color: #fff;font-size: 14px;text-align: center;line-height: 1.25rem;border-radius: 5px;border:1px solid #fff;margin:0 auto;}





